.box1 {
    background-color: yellow;
    width: 600px;
    height: 400px;
}

.box2 {
    background-color: pink;
    width: 400px;
    height: 250px;
}

.box3 {
    background-color: gray;
    width: 100px;
    height: 300px;
}

.box4 {
    background-color: purple;
    width: 350px;
    height: 120px;
}